+ /mediastore/
  + build/
  + dist/
  + nbproject/
    build-impl.xml
    + /private/
    + project.properties
    + project.xml
  + src/
  + test/
  + build.xml
/mediastore/build/
/mediastore/dist/
/mediastore/store/

*private.properties
*private.xml